nav.navbar {
    margin-bottom: 0;
}
.imgContainer {
    height: 500px;
    padding: 0;
    p {
        color: white;
    }
    .textContainer {
        position: absolute;
        top: 60%;
        left: 15%;
        width: 70%;
        height: 35%;
        p.heading {
            font-size: 32px;
            text-align: center;
            //text-shadow: black -.5px .5px;
        }
        p.info {
            font-size: 18px;
            //text-align: center;
        }
        button.action {
            margin-top: 20px;
            text-align: center;
            background: transparent;
            border: 3px solid white;
            border-radius: 10px;
            color: white;
            height: 50px;
            width: 130px;
            font-size: 16px;
            text-transform: uppercase;
        }
        button.action:hover {
            color: #19B5FE;
            font-weight: bold;
            //font-size: 18px;
            background: white;
        }
        button.action:focus {
            outline: none;
        }
    }
}
#homeownerImgContainer {
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/homeowner1.jpg);
}
#driverImgContainer {
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/driver1.jpg);
}
#howItWorks {
    background-color: #19B5FE; 
    height: 500px;
    h1 {
        color: white;
    }
}
