@import "custom_variables";
@import "bootstrap";
@import "bootstrap/theme";
body {
    background: white;
}
.container {
    padding: 10px;
    background: white;
}
.container-fluid {
    background: white;
}
button:focus {
    outline: none;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
