.popover {
    z-index: 99999;
}

.loginForm {
    display: none;
}

.loginForm.visible {
    display: block;
}

#navbarLogin {
    margin-left: 15px;
    margin-right: 15px;
}

nav > .container-fluid {
    background: transparent;
}