.sidebar-offering {
    //border-left: 7px solid #19B5FE;
    //margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    &.highlighted {
        background: #FFFBCC;
    }
    &:hover {
        background: lighten(#19B5FE, 40%);
    }
    .sidebar-offering-price {
        position: absolute;
        transform: translate(0px, -8px);
        //height: 50px;
        padding: 7px;
        padding-left: 12px;
        padding-right: 10px;
        font-size: 16px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        background: #19B5FE;
        color: white;
        -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding-box;
        background-clip: padding-box;
    }
    button.sidebar-offering-buy {
        background: lighten(#FFA53C, 5%);
        border-radius: 5px;
        border: none;
        color: white;
        padding: 10px;
        margin-top: 10px;
        -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding-box;
        background-clip: padding-box;
        &:hover {
            background: lighten(#FFA53C, 10%);
        }
    }
    .sidebar-offering-address,
    .sidebar-offering-walk-time {
        margin-bottom: 0;
    }
    .sidebar-offering-walk-time {
        i,
        img {
            padding-right: 5px;
        }
        font-size: 12px;
    }
    .sidebar-offering-detail {
        font-size: 10px;
    }
}
