/* line 2, /Users/John/gotitparking/sandbox/gotitparking/sass/park.scss */
#parkSearchContainer {
  background: white;
  margin-top: 50px; }

/* line 6, /Users/John/gotitparking/sandbox/gotitparking/sass/park.scss */
.row {
  background: transparent; }

/* line 9, /Users/John/gotitparking/sandbox/gotitparking/sass/park.scss */
.container-fluid {
  background: #333;
  padding-top: 30px; }

/* line 14, /Users/John/gotitparking/sandbox/gotitparking/sass/park.scss */
.navbar {
  margin-bottom: 0; }

/* line 17, /Users/John/gotitparking/sandbox/gotitparking/sass/park.scss */
#mapContainer {
  height: calc(100vh - 30px); }
  @media only screen and (max-width: 479px) {
    /* line 17, /Users/John/gotitparking/sandbox/gotitparking/sass/park.scss */
    #mapContainer {
      height: 50vh; } }

/* line 24, /Users/John/gotitparking/sandbox/gotitparking/sass/park.scss */
#searchResultsContainer {
  min-height: calc(100vh - 30px);
  background: white;
  z-index: 99;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }
  /* line 35, /Users/John/gotitparking/sandbox/gotitparking/sass/park.scss */
  #searchResultsContainer .toggleSearchResults {
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px; }
  /* line 40, /Users/John/gotitparking/sandbox/gotitparking/sass/park.scss */
  #searchResultsContainer #toggleEventSearchContainer {
    margin-top: 10px; }
  /* line 43, /Users/John/gotitparking/sandbox/gotitparking/sass/park.scss */
  #searchResultsContainer .toggleEventSearch {
    float: right;
    padding-right: 10px;
    padding-top: 10px;
    cursor: pointer; }
  /* line 49, /Users/John/gotitparking/sandbox/gotitparking/sass/park.scss */
  #searchResultsContainer #searchResultsHeaderContainer {
    padding-top: 20px; }
    /* line 51, /Users/John/gotitparking/sandbox/gotitparking/sass/park.scss */
    #searchResultsContainer #searchResultsHeaderContainer .hline {
      border-bottom: 1px solid #000;
      line-height: 0.1em; }
    /* line 55, /Users/John/gotitparking/sandbox/gotitparking/sass/park.scss */
    #searchResultsContainer #searchResultsHeaderContainer span {
      background: #fff;
      padding: 0 10px;
      font-size: 16px;
      font-weight: bold; }
  /* line 62, /Users/John/gotitparking/sandbox/gotitparking/sass/park.scss */
  #searchResultsContainer #expandSearchResultsContainer {
    display: none; }
  /* line 65, /Users/John/gotitparking/sandbox/gotitparking/sass/park.scss */
  #searchResultsContainer #collapseSearchResultsContainer {
    display: inline-block; }

/* line 71, /Users/John/gotitparking/sandbox/gotitparking/sass/park.scss */
#searchResultsContainer.collapsed #expandSearchResultsContainer {
  display: inline-block; }

/* line 74, /Users/John/gotitparking/sandbox/gotitparking/sass/park.scss */
#searchResultsContainer.collapsed #collapseSearchResultsContainer {
  display: none; }

/* line 78, /Users/John/gotitparking/sandbox/gotitparking/sass/park.scss */
#offeringsContainer {
  padding-top: 10px; }

/*# sourceMappingURL=park.css.map */