@import "custom_variables";
#parkSearchContainer {
    background: white;
    margin-top: 50px;
}
.row {
    background: transparent;
}
.container-fluid {
    background: #333;
    padding-top: 30px;
    //padding: 0;
}
.navbar {
    margin-bottom: 0;
}
#mapContainer {
    height: calc(100vh - 30px);
    @media #{$smartphones} {
        height: 50vh;
    }
    //position: fixed;
}
#searchResultsContainer {
    min-height: calc(100vh - 30px);
    background: white;
    z-index: 99;
    //border-radius: 5px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    .toggleSearchResults {
        cursor: pointer;
        padding-left: 10px;
        padding-top: 10px;
    }
    #toggleEventSearchContainer {
        margin-top: 10px;
    }
    .toggleEventSearch {
        float: right;
        padding-right: 10px;
        padding-top: 10px;
        cursor: pointer;
    }
    #searchResultsHeaderContainer {
        padding-top: 20px;
        .hline {
            border-bottom: 1px solid #000;
            line-height: 0.1em;
        }
        span {
            background: #fff;
            padding: 0 10px;
            font-size: 16px;
            font-weight: bold;
        }
    }
    #expandSearchResultsContainer {
        display: none;
    }
    #collapseSearchResultsContainer {
        display: inline-block;
    }
}
#searchResultsContainer.collapsed {
    //width: 50px;
    #expandSearchResultsContainer {
        display: inline-block;
    }
    #collapseSearchResultsContainer {
        display: none;
    }
}
#offeringsContainer {
    padding-top: 10px;
}
