script(src='/javascripts/app/controllers/EventSearch.js')
link(rel='stylesheet', type='text/css', href='/stylesheets/parkSearch.css')
.row
  .col-md-2.col-xs-2.text-right
    i.fa.fa-4x.fa-search
  .col-md-8.col-xs-8
    input(type='text', autofocus)#modalSearchBar
    p Search for your university, college or organization ...
.row
  .col-md-10.col-xs-10.col-md-offset-1.col-xs-offset-1
    div#eventResultsContainer
    