.row
  .col-md-12
    h1 Settings
    hr
    h2 Account
    h3 update name
    h3 Add regular/facebook/other to existing account
    hr
    h3 Vehicles
    p.text-info Add vehicles to your account before you make any purchases.  
      a Learn more.
      .list-group
        .list-group-item.justify-content-between 
          span Blue Honda Accord APS7123
          a.pull-right Remove
          a.pull-right.edit-link Edit
    //table.table
      th Make
      th Model
      th Color
      th Plate
      tr
        td Honda
        td Accord
        td Blue
        td APS-7123
        td 
          button.btn.btn-sm.btn-primary
            i.fa.fa-edit
          button.btn.btn-sm.btn-danger
            i.fa.fa-remove
    .row
      .col-md-6.col-xs-12.col-md-offset-3
        button.btn.btn-primary.btn-lg.btn-block Add Vehicle
    hr
    h2 Driveways
    h2 Payment