extends layout-nav2

append head
  link(rel='stylesheet', href='/stylesheets/homev2.css')

block content
  .container-fluid
    .row
      .col-md-6.col-xs-6#img-container-1
        img.img-responsive(src="/images/ku_action.jpg")
      .col-md-6.col-xs-6#img-container-2
        img.img-responsive(src="/images/ku_action.jpg")

