extends layout-nav3

append head
  link(rel='stylesheet', href='/stylesheets/homev2.css')
  script(src='javascripts/app/controllers/Home.js')

block content
  .container-fluid
    .row
      .col-md-6.col-xs-12.imgContainer.img-responsive#driverImgContainer
        .textContainer
          p.heading Gameday parking.  No sweat.
          .row
            .col-md-8.col-xs-12
              p.info Find spots near the stadium and park, hassle-free.  GotIt! Parking covers all your gameday needs!
            .col-md-4.col-xs-12.text-center
              button.action(onclick='window.location.href = "/park"') Find a Spot
          
      .col-md-6.col-xs-12.imgContainer.img-responsive#homeownerImgContainer
        .textContainer
          p.heading Got some parking spots?
          .row
            .col-md-8.col-xs-12
              p.info Offer your spots one time on our platform and just get paid on gameday.  We handle the rest.
            .col-md-4.col-xs-12.text-center
              button.action(onclick='window.location.href = "/sell"') Sell a Spot
    .row#howItWorks
      button.nextArrow
        i.fa.fa-arrow-down.fa-2x
      p.dropdown-title How it Works
      .item.col-md-3.col-xs-6.text-center
        i.fa.fa-home.fa-4x
        p Homeowners register their driveway with GotIt! Parking.
      .item.col-md-3.col-xs-6.text-center
        i.fa.fa-search.fa-4x
        p Find the spot that works best for you.
      .item.col-md-3.col-xs-6.text-center
        i.fa.fa-money.fa-4x
        p Pay online once you've found the spot, to assure it's yours for gameday.
      .item.col-md-3.col-xs-6.text-center
        i.fa.fa-car.fa-4x
        p Attend the game on time, without a parking disaster!
      
    .row#benefits
      button.nextArrow
        i.fa.fa-arrow-down.fa-2x
      p.dropdown-title Benefits
      .col-md-6.col-xs-12
        .row.item
          .col-md-3.col-xs-3.text-right
            i.fa.fa-clock-o.fa-4x.fa-fw
          .col-md-9.col-xs-9
            p Don't waste anymore time driving in circles for parking spots. Reserve your spot in advance and save time.
        .row.item
          .col-md-3.col-xs-3.text-right
            i.fa.fa-smile-o.fa-4x.fa-fw
          .col-md-9.col-xs-9
            p Never worry again about being late to the game, due to parking problems.
        .row.item
          .col-md-3.col-xs-3.text-right
            i.fa.fa-credit-card.fa-4x.fa-fw
          .col-md-9.col-xs-9
            p Forget trying to find an ATM and asking for change, pay online in advance.
      .col-md-6.col-xs-12
        .row.item
          .col-md-3.col-xs-3.text-right
            i.fa.fa-usd.fa-4x.fa-fw
          .col-md-9.col-xs-9
            p Turn your lawn into another stream of revenue!
        .row.item
          .col-md-3.col-xs-3.text-right
            i.fa.fa-map.fa-4x.fa-fw
          .col-md-9.col-xs-9
            p Get your lawn on the map, so more drivers can see your property.
        .row.item
          .col-md-3.col-xs-3.text-right
            i.fa.fa-fighter-jet.fa-4x.fa-fw
          .col-md-9.col-xs-9
            p Have your money sent straight to your bank account, and receive your money before gameday.
      

