extends layout-nav

append head
  link(rel='stylesheet', href='/stylesheets/home.css')

block content
  .row
    .col-md-8.col-xs-12
      img.img-responsive.img-rounded(src='images/ku_action.jpg')
    .col-md-4.col-xs-12
      h1 GotIt! Parking
      hr
      p.text-primary Welcome to the future
      p Park where you want, when you want, hassle-free.  GotIt! Parking provides a simple, intuitive platform for parkers and owners alike
      .row
        .col-md-12.col-xs-12.text-center
          +linkWithArrow('/about', 'Learn More').btn.btn-primary.btn-lg