//- Vars:
//- loggedIn: bool

extends layout

append head
  link(rel='stylesheet', href='/stylesheets/navbar_new2.css')
  script(src='/javascripts/app/navbar.js')

block nav
  nav#navMenu.navbar.navbar-default.navbar-fixed-top
    img(src="/images/logo.png", height="50").brand-img
    .container-fluid
      ul.left
        li.toggleMenu(onclick='$("#navMenu").toggleClass("expanded");')
          i.fa.fa-bars.fa-lg
          i.fa.fa-remove.fa-lg
        li.active.menuItem
          a(href='#') Home
        li.menuItem
          a(href='#') Park
        li.menuItem
          a(href='#') Sell
      ul.right
        li
          +loginForm
          button#navbarLogin(data-container='body', data-toggle='popover', data-placement='bottom', data-content='') Login
block footer
  .container-fluid#footerContainer
    .row
      .col-md-3.col-xs-6
        img(src="/images/logo.png", height="50").brand-img
      .col-md-1.col-xs-2
        a(href='/about') About
      .col-md-1.col-xs-2
        a(href='/settings') Settings
      .col-md-1.col-xs-2
        a(href='/faq') FAQ          
        
  
  <!--nav#headerNav.navbar
    div.container-fluid
      div.navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/homev2') GotIt!
      div#bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li(class=(page == 'homev2') ? 'active' : '')
            a(href='/homev2')
              | Home
          li(class=(page == 'park') ? 'active' : '')
            a(href='/park') Park
          li(class=(page == 'sell') ? 'active' : '')
            a(href='/sell') Sell
        ul.nav.navbar-nav.navbar-right
          li(class=(page == 'about') ? 'active' : '')
            a(href='/about') About
          if user && user.id
            li(class=(page == 'profile') ? 'active' : '')
              a(href='/profile')= user.name.first
                |
                |
                i.fa.fa-user
          else
            +loginForm
            li
              button#navbarLogin(data-container='body', data-toggle='popover', data-placement='bottom', data-content='') Log In-->
              