extends nav

append head
  link(rel='stylesheet', type='text/css', href='/stylesheets/park.css')
  link(rel='stylesheet', type='text/css', href='/stylesheets/eventResult.css')
  if eventId
    script.
      eventId = #{eventId};
    script(src='/javascripts/app/controllers/ParkHeader.js')
    script(src='/javascripts/app/controllers/Park.js')
    script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlxgOSJGWPcYs-xkYGdaSY2jt-vg396E4&callback=initMap", type="text/javascript")

block content
  .container-fluid
    .row
      .col-md-9.col-xs-12#mapContainer
      .col-md-3.col-xs-12#searchResultsContainer
        .row#eventHeaderContainer
        .row
          .col-md-12.col-xs-12.text-center#searchResultsHeaderContainer
            p.hline
              span Available Spots
        #offeringsContainer
  +modal("Test", "searchModal")
