extends nav

append head
  link(rel='stylesheet', type='text/css', href='/stylesheets/park.css')
  link(rel='stylesheet', type='text/css', href='/stylesheets/eventResult.css')
  if eventId
    script.
      eventId = #{eventId};
    script(src='/javascripts/app/controllers/ParkHeader.js')
    script(src='/javascripts/app/controllers/ParkSearchResults.js')
    script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlxgOSJGWPcYs-xkYGdaSY2jt-vg396E4&callback=initMap", type="text/javascript")

block content
  .container-fluid
    .row
      .col-md-9.col-xs-12#mapContainer
      .col-md-3.col-xs-12#searchResultsContainer
        .row
          .col-md-10.col-xs-10#eventInfoContainer
            p.eventType
            span
              p.eventName
              p.separator •
              p.eventVenue
          .col-md-2.col-xs-2.text-right#toggleEventSearchContainer
            i.fa.fa-search.fa-2x.fa-fw.toggleEventSearch
        .row
          .col-md-12.col-xs-12.text-center#searchResultsHeaderContainer
            p.hline
              span Available Spots
        #offeringsContainer
  +modal("Test", "searchModal")
