extends layout

block content
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-primary
        .panel-heading
          h3.panel-title.text-center Welcome
        .panel-body
          +registrationForm