//- Vars:
//- loggedIn: bool

extends layout

append head
  link(rel='stylesheet', href='/stylesheets/navbar_new.css')
  script(src='/javascripts/app/navbar.js')

block nav
  #navMenu
    .menuItem(data-target='/homev2')
      i.fa.fa-home.fa-3x
      p Home
    .menuItem(data-target='/park')
      i.fa.fa-car.fa-3x
      p Park
    .menuItem(data-target='/sell')
      i.fa.fa-money.fa-3x
      p Sell
    .expandMenu(onclick='$("#navMenu").toggleClass("open"); $(this).toggleClass("open");')
      i.fa.fa-bars.fa-3x(onclick='$("#navMenu").toggleClass("expanded");')
  
  <!--nav#headerNav.navbar
    div.container-fluid
      div.navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/homev2') GotIt!
      div#bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li(class=(page == 'homev2') ? 'active' : '')
            a(href='/homev2')
              | Home
          li(class=(page == 'park') ? 'active' : '')
            a(href='/park') Park
          li(class=(page == 'sell') ? 'active' : '')
            a(href='/sell') Sell
        ul.nav.navbar-nav.navbar-right
          li(class=(page == 'about') ? 'active' : '')
            a(href='/about') About
          if user && user.id
            li(class=(page == 'profile') ? 'active' : '')
              a(href='/profile')= user.name.first
                |
                |
                i.fa.fa-user
          else
            +loginForm
            li
              button#navbarLogin(data-container='body', data-toggle='popover', data-placement='bottom', data-content='') Log In-->
              