.btn-facebook {
  color: white;
  background-color: #3b5998;
  border-color: #f7f7f7; }
  .btn-facebook:focus, .btn-facebook.focus {
    color: white;
    background-color: #2d4373;
    border-color: #b7b7b7; }
  .btn-facebook:hover {
    color: white;
    background-color: #2d4373;
    border-color: #d8d8d8; }
  .btn-facebook:active, .btn-facebook.active,
  .open > .btn-facebook.dropdown-toggle {
    color: white;
    background-color: #2d4373;
    border-color: #d8d8d8; }
    .btn-facebook:active:hover, .btn-facebook:active:focus, .btn-facebook:active.focus, .btn-facebook.active:hover, .btn-facebook.active:focus, .btn-facebook.active.focus,
    .open > .btn-facebook.dropdown-toggle:hover,
    .open > .btn-facebook.dropdown-toggle:focus,
    .open > .btn-facebook.dropdown-toggle.focus {
      color: white;
      background-color: #23345a;
      border-color: #b7b7b7; }
  .btn-facebook:active, .btn-facebook.active,
  .open > .btn-facebook.dropdown-toggle {
    background-image: none; }
  .btn-facebook.disabled:hover, .btn-facebook.disabled:focus, .btn-facebook.disabled.focus, .btn-facebook[disabled]:hover, .btn-facebook[disabled]:focus, .btn-facebook[disabled].focus,
  fieldset[disabled] .btn-facebook:hover,
  fieldset[disabled] .btn-facebook:focus,
  fieldset[disabled] .btn-facebook.focus {
    background-color: #3b5998;
    border-color: #f7f7f7; }
  .btn-facebook .badge {
    color: #3b5998;
    background-color: white; }
