#navMenu {
  display: inline-block;
  border: none;
  position: fixed;
  z-index: 999;
  right: 20px;
  top: 20px;
  border-radius: 40px;
  background: white;
  height: 80px;
  width: 80px;
  -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }
  #navMenu .menuItem {
    display: none; }
    #navMenu .menuItem,
    #navMenu .menuItem * {
      opacity: 0;
      transition: none; }
    #navMenu .menuItem p {
      text-align: center; }
  #navMenu.expanded {
    width: 295px; }
    #navMenu.expanded .menuItem {
      display: inline-block;
      cursor: pointer; }
      #navMenu.expanded .menuItem:hover {
        transform: scale(1.1); }
      #navMenu.expanded .menuItem,
      #navMenu.expanded .menuItem * {
        opacity: 1; }
  #navMenu .expandMenu {
    color: #19B5FE;
    position: absolute;
    top: 50%;
    right: calc((80px - 36px) / 2);
    transform: translate(0%, -50%);
    cursor: pointer; }
  #navMenu .menuItem {
    margin-top: 10px;
    margin-right: 25px; }
    #navMenu .menuItem p {
      color: #19B5FE; }
  #navMenu .menuItem:first-of-type {
    margin-left: 30px; }
