#parkSearchContainer {
  background: white;
  margin-top: 50px; }

.row {
  background: transparent; }

.container-fluid {
  background: #333;
  padding-top: 30px; }

.navbar {
  margin-bottom: 0; }

#mapContainer {
  height: calc(100vh - 30px); }
  @media only screen and (max-width: 479px) {
    #mapContainer {
      height: 50vh; } }

#searchResultsContainer {
  min-height: calc(100vh - 30px);
  background: white;
  z-index: 99;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }
  #searchResultsContainer .toggleSearchResults {
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px; }
  #searchResultsContainer #toggleEventSearchContainer {
    margin-top: 10px; }
  #searchResultsContainer .toggleEventSearch {
    float: right;
    padding-right: 10px;
    padding-top: 10px;
    cursor: pointer; }
  #searchResultsContainer #searchResultsHeaderContainer {
    padding-top: 20px; }
    #searchResultsContainer #searchResultsHeaderContainer .hline {
      border-bottom: 1px solid #000;
      line-height: 0.1em; }
    #searchResultsContainer #searchResultsHeaderContainer span {
      background: #fff;
      padding: 0 10px;
      font-size: 16px;
      font-weight: bold; }
  #searchResultsContainer #expandSearchResultsContainer {
    display: none; }
  #searchResultsContainer #collapseSearchResultsContainer {
    display: inline-block; }

#searchResultsContainer.collapsed #expandSearchResultsContainer {
  display: inline-block; }

#searchResultsContainer.collapsed #collapseSearchResultsContainer {
  display: none; }

#offeringsContainer {
  padding-top: 10px; }
