mixin loginWithFacebookButton
  +buttonWithArrow('Log in with Facebook').btn.btn-block.btn-lg.btn-facebook.loginFacebookButton
  
mixin registerWithFacebookButton
  +linkWithArrow('/api/register/facebook', 'Register with Facebook').btn.btn-block.btn-lg.btn-facebook.facebook-register
