mixin loginWithFacebookButton
  +buttonWithArrow('Log in with Facebook').btn.btn-block.btn-lg.btn-facebook.loginFacebookButton
  
mixin registerWithFacebookButton
  +buttonWithArrow('Register with Facebook').btn.btn-block.btn-lg.btn-facebook.facebook-register.registerFacebookButton
