mixin loginForm
  link(rel='stylesheet', href='/stylesheets/loginForm.css')
  div.loginForm
    .row
      .col-md-12
        .loginErrors#loginErrors
    .row
      .col-md-12
        .input-group
          span#email-icon.input-group-addon
            i.glyphicon.glyphicon-envelope
          input.loginEmail.form-control(name='email', type='text', placeholder='E-Mail', aria-describedby='email-icon')
    .row
      .col-md-12
        .input-group
          span#password-icon.input-group-addon
            i.glyphicon.glyphicon-lock
          input.loginPassword.form-control(name='password', type='password', placeholder='Password', aria-describedby='password-icon')
    .row
      .col-md-12
        +buttonWithArrow('Log In').loginButton.btn.btn-success.btn-block.btn-lg
    hr
    .row
      .col-md-12
        +loginWithFacebookButton()
    hr
    .row
      .col-md-12.text-center
        p First time? Register
          | 
          a(href='/register') here.
                  