mixin buttonWithArrow(btnText)
  button(id!=attributes.id, class!=attributes.class)= btnText
    |
    |
    i.glyphicon.glyphicon-arrow-right
    
mixin linkWithArrow(href, btnText)
  a(id!=attributes.id, class!=attributes.class, href=href)= btnText
    |
    |
    i.glyphicon.glyphicon-arrow-right
    
mixin loginForm    
  form#loginForm(method='post')
    .row
      .col-md-12
        .input-group
          span#email-icon.input-group-addon
            i.glyphicon.glyphicon-envelope
          input.form-control(name='email', type='text', placeholder='E-Mail', aria-describedby='email-icon')
    .row
      .col-md-12
        .input-group
          span#password-icon.input-group-addon
            i.glyphicon.glyphicon-lock
          input.form-control(name='password', type='password', placeholder='Password', aria-describedby='password-icon')
    .row
      .col-md-12
        +buttonWithArrow('Log In').btn.btn-primary.btn-block.btn-lg
    hr
    .row
      .col-md-12
        +buttonWithArrow('Sign in with Facebook').btn.btn-block.btn-lg.btn-facebook
    hr
    .row
      .col-md-12.text-center
        p First time? Register
          | 
          a(href='#') here.
                  